.post-img {
  width: 25%;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
}

header > div {
  flex: 2;
  padding-left: 1rem;
}

header > nav {
  flex: 1;
}

.container {
  display: flex;
  flex-direction: row-reverse;
}

aside {
  flex: 1;
  background-color: rgb(240, 240, 240);
}

main {
  flex: 3;
}

@media (max-width: 600px) {
  .container {
    /*flex-direction: column;*/
    display: block;
  }

  aside {
    display: none;
  }
}