#centro {
  display: block;
  margin: 0 auto;
  width: 30%;
  border: 1px solid black;
}

#sx {
  float: left;
  width: 30%;
  border: 1px solid black;
}

#mx {
  float: left;
  margin: 0 4.8%;
  width: 30%;
  border: 1px solid black;
}

#dx {
  float: right;
  width: 30%;
  border: 1px solid black;
}