<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IAW - {% block title %}{% endblock %}</title>
    <meta name="keywords" content="web, blog, html, css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="navbar fixed-top navbar-dark navbar-expand-lg bg-primary">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">IAW Blog</span>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link {%block home_active%}{% endblock %}" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {%block about_active%}{% endblock %}" href="{{ url_for('about') }}">Presentazione</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {%block contacts_active%}{% endblock %}" href="#">Contatti</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container-fluid under-nav">
      <div class="row">
        <main class="col-lg-8 col-12">
          {%block content %}{% endblock %}
        </main>
        <aside class="col-lg-4 col-12">
          {%block sidebar %}{% endblock %}
        </aside>
      </div>
    </div>
    <footer>
      <p>2022-2023 IAW - Politecnico di Torino</p>
      <!-- Inserire icone social e mail-->
      <p>Instagram</p><p><a href="mailto:test@polito.it">email</a></p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>